/* ==========================
   Navbar Principal
========================== */
.navbar {
  z-index: 1000;
  font-family: 'Momo Trust Display', sans-serif;
}

.custom-navbar {
  background-color: #6aa486;
}

.nav-link {
  color: #105f34;
  font-weight: 500;
  border: 2px solid transparent; 
  transition: color 0.3s, border-color 0.3s;
}

.nav-link:hover {
  color: #e7e7e7;
  border-color: #105f34;
}

.btn-primary {
  background-color: #105f34;
  border: none;
}

.btn-primary:hover {
  background-color: #e7e7e7;
  color: #105f34;
}

/* ==========================
   Botón Personalizado (Borde)
========================== */
.custom-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 2px solid #105f34;
  border-radius: 25px;
  color: #e7e7e7;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.1s;
}

.custom-button:hover {
  background-color: #e7e7e7;
  color: #105f34;
}

/* ==========================
   Texto del Logo
========================== */
.brand-text {
  color: #dfdfdf;
  background-color: #105f34;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-family: 'Momo Trust Display', sans-serif;
  
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  display: inline-block;
}

/* =========================================
   REGLAS RESPONSIVE Y CORRECCIÓN DE ERRORES
========================================= */


.navbar-logo {
    width: 40px;
    height: 40px;
}


@media (max-width: 575.98px) {
    .navbar-logo {
        width: 78px; 
        height: 58px;
    }
}


.navbar-nav {
    align-items: center; 
}
.navbar-collapse {
    width: 100%;
}

