<shared-navbar></shared-navbar>

<div class="main-container">
  <div class="content">
    <h1>{{title}}</h1>
    <p>
      Con <strong>QR-Manager</strong> puedes generar códigos QR personalizados de manera rápida y sencilla para tu negocio.
      Ya sea para menús digitales, promociones, tarjetas de contacto o cualquier enlace que quieras compartir,
      nuestra plataforma te permite crear y gestionar todos tus códigos QR en un solo lugar.
      Optimiza la experiencia de tus clientes y lleva la digitalización de tu negocio al siguiente nivel.
    </p>
  </div>
</div>

<shared-footer></shared-footer>
